<%- include('partials/header') %>
<div class="container pt-3">
    <div class="row mb-5">
        <h2 class="h3 text-center mb-3">Tarjimon</h2>
        <div class="row p-0 shadow mb-4">
            <div class="col-md-6 p-3 border">
                <header class="btlr-5">
                    <ul class="from-languages__list">
                        <li class="from-languages__item" data-value="uz">
                            O`ZBEKCHA
                        </li>
                        <li class="from-languages__item" data-value="en">
                            ENGLISH
                        </li>
                        <li class="from-languages__item" data-value="ru">
                            РУССКИЙ
                        </li>
                    </ul>
                </header>
                <textarea class="form-control from-textarea ">
                </textarea>
            </div>
            <div class="col-md-6 p-3 border">
                <header>
                    <ul class="to-languages__list">
                        <li class="to-languages__item" data-value="uz">
                            O`ZBEKCHA
                        </li>
                        <li class="to-languages__item" data-value="en">
                            ENGLISH
                        </li>
                        <li class="to-languages__item" data-value="ru">
                            РУССКИЙ
                        </li>
                    </ul>
                </header>
                <textarea class="form-control to-textarea" readonly>
                </textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center h3">Og'abek Sultonbayev <a href="https://t.me/Ogabek19991031">@Ogabek19991031</a></h2>
    </div>
</div>
<%- include('partials/footer') %>